/* COMMON */

body,
html {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

#main {
  display: flex;
  flex-direction: row;
  transform: translateX(0);
  transition: 0.25s ease-in-out;
}

section {
  padding: 0;
  transition: 0.25s ease-in;
  position: relative;
  min-width: 100%;
}

hr {
  border: 2px solid lightgrey;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .flex > div {
    max-width: 100%;
  }
}
