.the-form {
  padding-left: 5%;
}

.form__label {
  display: block;
  padding-bottom: 0.3rem;
  font-weight: bold;
  cursor: pointer;
  font-weight: 300;
}

.form__group-input {
  position: relative;
}

.form__input {
  width: 200px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
  padding: 0 10px 0 5px;
  transition: 0.3s ease all;
}

.form__input:focus {
  border: 2px dashed slategrey;
  outline: none;
}

.form__input-error {
  display: none;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.form__input-error-active {
  display: block;
}

.form__validation-status {
  position: absolute;
  left: 195px;
  top: 7px;
  z-index: 100;
  font-size: 1rem;
  opacity: 0;
}

/*Validation Styles*/
.form__group-correct .form__validation-status {
  color: chartreuse;
  opacity: 1;
}

.form__group-incorrect .form__label {
  color: red;
}

.form__group-incorrect .form__validation-status {
  color: red;
  opacity: 1;
}

.form__group-incorrect .form__input {
  border: 2px solid red;
}
