/* PRODUCT */

.product__group{
  display: flex;
  max-width: 1050px;
  margin: 0 auto;
  padding-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .product__group{
    flex-direction: column;
  }
}

.product__images,
.product__info{
  position: relative;
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .product__images,
  .product__info{
    width: 100%;
    justify-content: center;
    max-width: 780px;
  }
}

.product__images{
  display: flex;
  align-items: center;
  padding: 0 30px;
  margin-bottom: 45px;
}

.product__info{
  padding: 0 60px;
}

@media (max-width: 991px) {
  .product__info{
    padding: 0 30px;
  }
}

/* columna de la izquierda */

.img-big {
  max-width: 100%;
  height: auto;
}

.carrousel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 30px;
  justify-content: center;
}

.img-small {
  float: left;
  margin: 1%;
}

.mini {
  opacity: 0.6;
  width: 75px;
  height: 50px;
}

.active,
.mini:hover {
  opacity: 1;
}

/*? columna de la derecha */
.name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-self: flex-end;
}
.info {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

select {
  border: solid 1px black;
}
.img-fluid {
  max-width: 375px;
  height: auto;
}
.red {
  background-color: red;
}
#timer-sesion {
  text-align: center;
  padding: 15px;
}
.product-color {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: solid 1px black;
}
#product-form #selection2 img {
  max-width: 35px;
  margin-right: 5px;
  opacity: 0.6;
  image-rendering: -webkit-optimize-contrast;
}
#product-form #selection2 img.selected {
  opacity: 1;
}
#carrousel img.mini {
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}