/* THANK YOU */

#thank-you .flex > div {
  margin-bottom: 25px;
}
.card {
  background-color: white;
  padding: 1.5rem 1.5rem;
}
#thank-you.product-image,
#thank-you.product-details {
  padding: 17.5px;
}
#thank-you > h1,
#thank-you > p {
  text-align: center;
}
#thank-you {
  background-color: #f4f4f4;
}
.ch_product-image {
  margin-right: 15px;
  margin-bottom: 15px;
}
.ch_product-image img {
  max-width: 150px;
}
.order-purchases .ch_product-name {
  font-size: x-large;
  font-weight: bold;
}
.ch_delivery-date {
  font-style: italic;
  font-size: medium;
}

#timer-sesion {
  text-align: center;
  padding: 15px;
}
