<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Shopping Wizard</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/style.css" />
    <style>

        section {
            width: 80%;  
            position: absolute;
            left: 10%;           
        }

        .process-phrase {
            display: flex;
            justify-content: space-between;
            margin-bottom: -15px;
        }

        .main-content {
            display: flex;
        }

        .process-icons {
            display: flex;  
            justify-content: space-between;
            margin-top: -20px;
        }

        .process-icons button {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid;
        }

        hr {
          border: 2px solid lightgrey;
        }

        footer {
            position: fixed;
            bottom: 0;
        }
    </style>
  </head>

  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
      <nav>
          logo
      </nav>

      <!-- Shipping -->  
      <section id="shipping">
        <!-- Buying Process -->
        <div class="process">
          <div class="process-phrase">
              <h5>Profile</h5>
              <h5>Adrress</h5>
              <h5>Shipping</h5>
              <h5>Finish</h5>
          </div>
          <div class="horizontalLine"><hr></div>
          <div class="process-icons">
              <div><button class="profile-icon"></button></div>
              <div><button class="address-icon"></button></div>
              <div><button class="shipping-icon"></button></div>
              <div><button class="finish-icon"></button></div>
          </div>
        </div>

        <!-- Shippping info -->
        <div class="main-content">
            <div class="info">
                <h3>Shipping</h3>
                <h4>Shipping type</h4>
                <form action="#"" class="shipping-form">
                    <div class="shippingType">
                        <input type="radio" id="free" name="shipping-type" value="Free shipment (72H)">
                        <label for="free">Free shipment (72H)</label><br>
                        <input type="radio" id="extra" name="shipping-type" value="Extra shipping (48h)">
                        <label for="extra">Extra shipping (48h) <span class="shipping">4,99$</span></label><br>
                        <input type="radio" id="premium" name="shipping-type" value="Premium (24h)">
                        <label for="premium">Premium (24h) <span class="shipping">9,99$</span></label>
                        <div id="infoShipping"></div>
                    </div>  

                    <div class="giftCheck">
                        <label>
                          <input type="checkbox" >
                          Is it a gift?
                        </label>
                    </div>
                    <div class="giftMessage">
                        <textarea rows="4" cols="50" name="comment"></textarea>
                    </div>
                    <div class="giftWrapper">
                        <p>Gift wrapper image</p>
                        <input type="button" value="Select image">
                    </div>
                    <div class="reset">
                      <input type="button" class="reset" value="Clear">
                    </div>
                    <div class="reset">
                      <input type="submit" value="submit form">
                    </div>
                </form>
            </div>
            <div class="timing">
                <p>You started registering <span id="countdown"></span> minutes ago</p>
                <p>Hurry up!</p>
            </div>
        </div>
      </section>

      <footer>
        <p><strong>Shopping Wizard 2021</strong></p>
      </footer>
    <!-- <script src="shipping.js" async defer></script> --> 
    <script>

        // Control information on shipping time
        var infoShipping = document.getElementById('infoShipping');
        var shipBtns = document.querySelectorAll('.shippingType input');

        shipBtns.forEach(shipBtn => {
            shipBtn.addEventListener('click', (e) => {
              if (e.target.id == "extra") {
                infoShipping.innerHTML =  `
                  <h4>Your order will arrive:</h4>
                  <h4>estimate delivery date:</h4>
                  <p>Between <span>25 de Julio de 2020 14:00h</span> and <span>25 de Julio de 2020 20:00h.</span></p>
                  `;               
              } else if (e.target.id == "premium") {
                infoShipping.innerHTML =  `
                  <h4>Your order will arrive:</h4>
                  <h4>estimate delivery date:</h4>
                  <p>Between <span>21 de Julio de 2020 14:00h</span> and <span>21 de Julio de 2020 20:00h.</span></p>
                  `;
              } else if (e.target.id == "free") {
                infoShipping.innerHTML = '';
              }
            }) 
        });

        // Control timing 
        var staringMinutes = 3;
        var time = staringMinutes * 60;
        var countdownEl = document.getElementById('countdown');

        var setTime = setInterval(updateCountdown, 1000);
        
        function updateCountdown() {
            let minutes = Math.floor(time / 60);
            let seconds = time % 60;
            seconds = seconds < 10 ? '0' + seconds : seconds;
            countdownEl.innerHTML = `${minutes}:${seconds}`;
            time--;

            if  (minutes <= 0 && seconds == 0) {
              clearInterval(setTime);
              alert("Time is up!");
            }
        }


        
        

    </script>
  </body>
</html>